@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Allura', cursive;
  font-size: 4.5em;
  color: pink;
  user-select: none;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
}

.links a {
  margin-left: 20px;
}

.links img {
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.links img:hover {
  transform: scale(1.1);
}