header {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Allura', cursive;
  font-size: 4em;
  color: pink;
}

.links a {
  margin-left: 20px;
}

.links img {
  height: 45px;
  transition: transform 0.3s ease-in-out;
}

.links img:hover {
  transform: scale(1.1);
}