#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  height: 10%;
}

button {
  background-color: pink;
  color: white;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
}

button img {
  max-height: 100%;
}

button:hover {
  transition: 0.5s;
  background-color: black;
}

// color picker
.pcr-button {
  display: none;
}

.pcr-app {
  background-color: transparent;
  margin-left: -75px;
  margin-right: -20px;
}

.pcr-app[data-theme=classic] {
  padding: 0
}

// size slider
input[type="range"] {
  -webkit-appearance: none;
  height: 12px;
  width: 150px;
  background: linear-gradient(to right, rgb(215, 190, 208), pink);
  border-radius: 5px;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

// tools
input[type="radio"] {
  display: none;
}

input[type="radio"]+label img {
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

input[type="radio"]+label img:hover {
  transform: scale(1.1);
}