#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #111;
  padding: 20px;
}

label {
  color: #fff;
  margin-right: 10px;
}

#brush-size {
  width: 100px;
}

button {
  background-color: pink;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: black;
}

